.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: $white-color;

    .th-btn {
        padding: 15px 20px;
        border-radius: 0;
        font-size: 14px;
    }
}

.preloader-inner {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;

    img {
        display: block;
        margin: 0 auto 0 auto;
    }
}

.loader {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: $white-color;
    background-image: url("data:image/svg+xml,%3Csvg width='101' height='101' viewBox='0 0 101 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.8411 0.0601557C42.4528 0.460496 36.6594 1.80205 32.7965 3.31233C17.7304 9.20286 6.19776 22.2024 2.33176 37.6519C1.15065 42.372 0.869141 44.7577 0.869141 50.049C0.869141 55.3402 1.15065 57.7259 2.33176 62.4461C6.69142 79.8684 20.6695 93.9387 38.1205 98.4716C43.0691 99.7567 45.4298 100.049 50.8691 100.049C56.1604 100.049 58.5461 99.7675 63.2663 98.5864C80.6924 94.2256 94.758 80.2526 99.2917 62.7976C100.577 57.849 100.869 55.4884 100.869 50.049C100.869 44.6096 100.577 42.2489 99.2917 37.3003C94.3039 18.0976 78.1442 3.56028 58.3657 0.482874C56.1881 0.144073 48.8648 -0.124462 46.8411 0.0601557ZM57.5917 14.8989C72.0209 17.7282 83.1452 28.8699 86.0447 43.3965C86.7026 46.6921 86.7561 53.0924 86.1517 56.2029C84.6819 63.768 81.2939 70.2018 76.0223 75.4378C70.8521 80.5731 64.4861 83.8888 57.0231 85.3331C53.8311 85.9507 47.4874 85.8867 44.1558 85.203C29.5193 82.1997 18.6007 71.2661 15.6936 56.7015C14.975 53.1022 14.975 46.9957 15.6936 43.3965C17.7181 33.253 23.486 24.9703 32.4043 19.3991C36.2488 16.9975 41.7607 15.0997 46.7174 14.4711C49.2519 14.1495 54.9045 14.3719 57.5917 14.8989ZM45.2747 21.9788C42.5904 22.5586 40.7031 23.2179 38.2256 24.4409C35.2554 25.9073 32.5459 27.898 30.2526 30.2983C28.5544 32.0755 26.2506 35.1294 26.2568 35.5944C26.2586 35.7289 29.2461 37.0875 32.8959 38.6134L39.5316 41.3881L40.3332 40.4905C40.774 39.9971 41.589 39.2344 42.1442 38.796C43.108 38.0347 45.8607 36.59 46.8306 36.3365C47.2804 36.2188 47.2887 36.0847 47.2887 28.9229C47.2887 23.2275 47.2274 21.6329 47.009 21.6467C46.8552 21.6566 46.0747 21.8061 45.2747 21.9788ZM54.4496 28.9126C54.4496 36.085 54.4579 36.2188 54.9077 36.3365C55.8775 36.59 58.6302 38.0347 59.5941 38.796C60.1492 39.2344 60.9654 39.9982 61.4075 40.4934L62.2116 41.3937L68.846 38.6163C72.4949 37.0888 75.4814 35.7289 75.4826 35.5944C75.4868 35.131 73.1864 32.0784 71.5138 30.3278C67.1233 25.7323 61.6792 22.8552 55.2888 21.7535L54.4496 21.6087V28.9126ZM23.2289 42.7202C22.8435 43.782 22.4052 46.7735 22.3024 49.042C21.9878 55.9856 24.6092 63.4996 29.1331 68.6226C29.9188 69.5121 30.0602 69.5905 30.3466 69.2939C30.9016 68.7193 39.2326 58.5597 39.2326 58.4577C39.2326 58.4044 38.8869 57.7747 38.4644 57.0582C37.1801 54.8808 36.7165 53.174 36.6511 50.3849L36.5934 47.9237L30.1367 45.1952C26.5856 43.6945 23.6013 42.4609 23.5053 42.4535C23.409 42.4463 23.2846 42.5665 23.2289 42.7202ZM71.5687 45.218L65.0791 47.9651L65.1487 49.5106C65.2431 51.6078 64.6843 54.2824 63.768 56.1194L63.0087 57.6416L67.4789 63.3557C69.9375 66.4987 72.033 69.0702 72.1355 69.0702C72.5629 69.0702 75.3501 64.9752 76.4768 62.6925C78.6886 58.2106 79.3942 55.0574 79.3564 49.8252C79.3295 46.1187 78.8218 42.6712 78.282 42.5296C78.159 42.4973 75.1379 43.7071 71.5687 45.218ZM49.1908 43.0823C47.1367 43.622 45.6191 44.8264 44.5917 46.7315C43.8942 48.0251 43.8284 48.3104 43.8284 50.049C43.8284 51.7862 43.8944 52.0735 44.5888 53.3611C45.4356 54.9316 46.1378 55.6097 47.8242 56.486C48.7987 56.9924 49.247 57.0799 50.8691 57.0799C52.4913 57.0799 52.9395 56.9924 53.9141 56.486C55.6005 55.6097 56.3027 54.9316 57.1495 53.3611C57.8457 52.0699 57.9094 51.7909 57.905 50.049C57.9007 48.4326 57.8108 47.9752 57.3061 47.004C56.4341 45.3259 55.7506 44.6141 54.2375 43.8076C52.795 43.0387 50.5722 42.7191 49.1908 43.0823ZM56.307 63.1685C53.4764 64.5075 49.7415 64.687 46.6173 63.6339C45.5168 63.2629 44.8502 63.1416 44.6808 63.2815C44.3303 63.571 35.7815 73.968 35.6965 74.2083C35.5893 74.5109 40.4939 76.8113 42.5931 77.4431C48.1986 79.1299 54.1811 79.0538 59.7659 77.2244C62.0272 76.4837 65.8607 74.6465 66.3334 74.077C66.4992 73.8769 65.3716 72.283 62.1697 68.1916C59.7545 65.1055 57.7092 62.5891 57.6246 62.5992C57.54 62.6095 56.947 62.8657 56.307 63.1685Z' fill='%23FF8F1F'/%3E%3C/svg%3E");
    animation: spinPreloader 1s linear infinite;
    border-radius: 50%;
}

@keyframes spinPreloader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
