/* Contact 1 ---------------------------------- */ 
.appoitment-form1 {
    margin-left: auto;
    .form-row {
        display: flex;
        align-items: flex-end;
        gap: 30px;
        .form-group {
            flex: 1;
            max-width: 230px;
        }
        .form-btn {
            .th-btn {
                min-width: auto;
                width: 190px;
            }
        }
    }
    label {
        color: $title-color;
    }
    select,
    .form-control,
    .form-select,
    textarea,
    input {
        background-color: $white-color;
    }
}

@include xxl {
    .appoitment-form1 {
        .form-row {
            gap: 20px;
            .form-btn {
                .th-btn {
                    width: auto;
                }
            }
        }
    }
}
@include md {
    .appoitment-form1 {
        .form-row {
            flex-wrap: wrap;
            justify-content: center;
            .form-group {
                flex: 50%;
                max-width: calc(50% - 10px);
            }
            .form-btn {
                flex: 50%;
                max-width: calc(50% - 10px);
                .th-btn {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@include xs {
    .appoitment-form1 {
        .form-row {
            .form-group {
                flex: 100%;
                max-width: 100%;
            }
            .form-btn {
                flex: 100%;
                max-width: 100%;
            }
        }
    }
    .contact-sec1 .title-area2 {
        padding: 30px 0;
    }
}

/* Contact Page ---------------------------------- */ 
.contact-feature {
    background-color: #F7F4ED;
    padding: 40px 10px;
    text-align: center;
    border-radius: 20px;
    &_icon {
        margin-bottom: 17px;
    }
    &_subtitle {
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 14px;
    }
    .box-title {
        margin-bottom: -0.32em;
        @include lg {
            font-size: 22px;
        }
    }
    &.bg-theme {
        .contact-feature {
            &_subtitle {
                color: $white-color;
            }
            &_icon {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
        .box-title {
            color: $white-color;
            a:hover {
                color: $title-color;
            }
        }
    }
}

.contact-form {
    select,
    .form-control,
    .form-select,
    textarea,
    input {
        background-color: $white-color;
    }
    .form-group {
        > i {
            background-color: $white-color;
            color: $theme-color;
            width: 18px;
            text-align: right;
        }
    }
}

.quote-form-box {
    padding: 50px;
    textarea {
        min-height: 120px;
    }
    .form-title {
        margin-top: -0.24em;
        margin-bottom: 10px;
    }
    .form-text {
        margin-bottom: 25px;
    }
    @include lg {
        text-align: center;
    }
}
.rounded-20 {
    border-radius: 20px;
    overflow: hidden;
}
.form-text {
    font-size: 16px;
}

@include xs {
    .quote-form-box {
        padding: 40px 20px;
    }
}
.contact-map {
    line-height: 0px;
    height: 100%;
    iframe {
        filter: grayscale(100);
        height: 100%;
        @include lg {
            min-height: 360px;
        }
        @include sm {
            min-height: 260px;
        }
    }
}