/* Testimonial Card ---------------------------------- */
.testi-card {
    overflow: hidden;
    position: relative;
    padding: 34px 40px 30px 40px;
    background-color: $white-color;
    box-shadow: 0px 0px 15px rgba(191, 191, 191, 0.09);
    border-radius: 10px;
    &:before {
        content: '';
        height: 90px;
        width: 108px;
        background-color: $theme-color2;
        position: absolute;
        bottom: 0;
        left: 0;
        clip-path: path("M0 0H40L108 90H10C4.47715 90 0 85.5229 0 80V0Z");
        z-index: 2;
        transition: 0.4s ease-in-out;
    }
    &_quote {
        position: absolute;
        right: 40px;
        bottom: 40px;
        font-size: 36px;
        color: $theme-color;
    }
    &_profile {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        gap: 10px;
    }
    &_avater {
        width: 60px;
        min-width: 60px;
        border: 5px solid $white-color;
        border-radius: 50%;
        img {
            border-radius: 50%;
        }
    }
    &_name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &_desig {
        margin-bottom: 0;
        display: block;
        color: $theme-color;
    }
    &_text {
        margin: 15px 0 19px 0;
        font-style: italic;
    }
    &_review {
        color: $theme-color;
        font-size: 16px;
        i {
            margin-right: 3px;
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
    &:hover {
        &:before {
            background-color: $theme-color;
        }
    }
}

@include vxs {
    .testi-card {
        padding: 34px 20px 30px 20px;
        border-radius: 10px;
        &_quote {
            right: 20px;
        }
    }
}

/* Testimonial Box ---------------------------------- */
.testi-box {
    position: relative;
    z-index: 2;
    text-align: center;
    --theme-color: #3D72FC;
    transition: 0.4s ease-in-out;
    &_img {
        text-align: center;
        position: relative;
        margin-bottom: 35px;
        img {
            max-width: 140px;
            padding: 15px;
            background-color: $white-color;
            border: 1px solid $theme-color;
            border-radius: 50%;
        }
        .play-btn {
            position: absolute;
            bottom: 5px;
            left: calc(50% - 15px);
            i {
                --icon-size: 30px;
                font-size: 18px;
                background-color: $theme-color;
                color: $white-color;
            }
            &:before,
            &:after {
                background-color: $theme-color;
            }
        }
    }
    &_content {
        padding: 30px;
        position: relative;
        filter: drop-shadow(0px 6px 15px rgba(191, 191, 191, 0.1));
        background-image: linear-gradient(to bottom, $theme-color, $white-color 50%);
        z-index: 2;
        border-radius: 20px;
        &:before {
            content: '';
            position: absolute;
            inset: 1px;
            background-color: $white-color;
            z-index: -1;
            border-radius: inherit;
            pointer-events: none;
        }
        &:after {
            content: url("data:image/svg+xml,%3Csvg width='75' height='23' viewBox='0 0 75 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.9937 11.0964L36.3597 1.39913C36.9599 0.608889 38.1483 0.608887 38.7486 1.39913L46.1146 11.0963C49.9909 16.1995 56.0306 19.1963 62.4391 19.1963H74.3326V21.6934H0.900391V19.1963H12.6692C19.0776 19.1963 25.1174 16.1995 28.9937 11.0964Z' fill='white' stroke='url(%23paint0_linear_348_82)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_348_82' x1='37.6165' y1='-1' x2='37.6165' y2='22.1934' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233D72FC'/%3E%3Cstop offset='0.890779' stop-color='%233D72FC'/%3E%3Cstop offset='0.890947' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            position: absolute;
            left: calc(50% - 37.5px);
            bottom: calc(100% - 4.2px);
            height: 23px;
            width: 75px;
        }
    }
    &_name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }
    &_desig {
        margin-bottom: -0.5em;
        display: block;
        color: $theme-color;
    }
    &_text {
        margin-bottom: 18px;
        margin-top: -0.5em;
        font-style: italic;
    }
    &:hover {
        --theme-color: #FF8F1F;
        .testi-box {
            &_content {
                &:after {
                    content: url("data:image/svg+xml,%3Csvg width='75' height='23' viewBox='0 0 75 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.9937 11.0964L36.3597 1.39913C36.9599 0.608889 38.1483 0.608887 38.7486 1.39913L46.1146 11.0963C49.9909 16.1995 56.0306 19.1963 62.4391 19.1963H74.3326V21.6934H0.900391V19.1963H12.6692C19.0776 19.1963 25.1174 16.1995 28.9937 11.0964Z' fill='white' stroke='url(%23paint0_linear_348_82)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_348_82' x1='37.6165' y1='-1' x2='37.6165' y2='22.1934' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8F1F'/%3E%3Cstop offset='0.887916' stop-color='%23FF8F1F' stop-opacity='0.99'/%3E%3Cstop offset='0.892968' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                }
            }
        }
    }
}

@include vxs {
    .testi-box_content {
        padding: 30px 15px;
    }
}
